[Desktop Entry]
Type=Service
Name=Spam Checking
Name[de]=Spam-Prüfung
Name[es]=Análisis de spam
Name[it]=Controllo Spam
Comment=Checking for Spam
Comment[de]=Prüfung auf Spam
Comment[es]=Analizar el spam
Comment[it]=Controllo Spam
Icon=mail-mark-junk
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfigspamcheck
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfigspamcheck
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=6
X-KDE-ParentApp=kshowmail

