[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Accounts
Name[de]=Konten
Name[es]=Cuentas
Name[it]=Account
Name[nl]=Accounts
Name[nb]=Konti
Comment=Accounts
Comment[de]=Konten
Comment[es]=Cuentas
Comment[it]=Account
Comment[nl]=Accounts
Comment[nb]=Konti
Icon=network-workgroup
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfigaccounts
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfigaccounts
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=5
X-KDE-ParentApp=kshowmail
