[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Actions
Name[de]=Aktionen
Name[es]=Acciones
NAme[it]=Azioni
Comment=actions
Comment[de]=Aktionen
Comment[es]=Acciones
Comment[it]=Azioni
Icon=media-playback-start
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfigactions
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfigactions
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=2
X-KDE-ParentApp=kshowmail
