[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=General
Name[de]=Allgemeines
Name[es]=General
Name[it]=Generale
Name[nl]=Algemeen
Comment=General Options
Comment[de]=Allgemeine Einstellungen
Comment[es]=Opciones generales
Comment[it]=Opzioni Generali
Comment[nl]=Algemene instellingen
Icon=system-run
ServiceTypes=KCModule
X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfiggeneral
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfiggeneral
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=4
X-KDE-ParentApp=kshowmail
