[Desktop Entry]
Type=Service
Name=Filter
Name[de]=Filter
Name[es]=Filtro
Name[it]=Filtri
Name[nl]=Filter
Comment=Filter
Comment[de]=Filter
Comment[es]=Filtro
Comment[it]=Filtri
Comment[nl]=Filter
Icon=view-filter
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfigfilter
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfigfilter
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=6
X-KDE-ParentApp=kshowmail
