[Desktop Entry]
Name=kshowmail
Name[x-test]=xxkshowmailxx
Exec=kshowmail %i -caption "%c"
Icon=kshowmail
Type=Application
X-KDE-DocPath=kshowmail/index.html
GenericName=A powerful pop3 mail checker
GenericName[de]=Prüft POP3-Postfächer auf neue Mails
GenericName[es]=Una poderosa herramienta para verificar cuentas POP3
GenericName[it]=Controlla la nuova posta sul tuo server POP3
GenericName[nl]=Een POP3 mail-controleur
Terminal=false
Categories=Qt;KDE;Network;Email;
