[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Display
Name[de]=Erscheinungsbild
Name[es]=Visualización
Name[it]=Aspetto
Name[nl]=Uiterlijk
Comment=Display Options
Comment[de]=Erscheinungsbild
Comment[es]=Opciones de visualización
Comment[it]=Personalizza l'aspetto
Comment[nl]=Uiterlijk-instellingen
Icon=preferences-desktop-theme
ServiceTypes=KCModule
X-KDE-ModuleType=Library
X-KDE-Library=kcm_kshowmailconfigdisplay
X-KDE-CfgDlgHierarchy=
X-KDE-FactoryName=kcm_kshowmailconfigdisplay
X-KDE-IsHiddenByDefault=
X-KDE-RootOnly=
X-KDE-Weight=3
X-KDE-ParentApp=kshowmail
